<a href="https://colab.research.google.com/github/alastra32/DS-Unit-2-Regression-Classification/blob/master/module2/assignment_regression_classification_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science, Unit 2: Predictive Modeling

# Regression & Classification, Module 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Do the [Plotly Dash](https://dash.plot.ly/) Tutorial, Parts 1 & 2.
- [ ] Add your own stretch goal(s) !

In [1]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

Collecting pandas-profiling
  Downloading https://files.pythonhosted.org/packages/2c/2f/aae19e2173c10a9bb7fee5f5cad35dbe53a393960fc91abc477dcc4661e8/pandas-profiling-2.3.0.tar.gz (127kB)
     |████████████████████████████████| 133kB 2.8MB/s
Collecting plotly
  Downloading https://files.pythonhosted.org/packages/70/19/8437e22c84083a6d5d8a3c80f4edc73c9dcbb89261d07e6bd13b48752bbd/plotly-4.1.1-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.1MB 47.1MB/s
Requirement already satisfied, skipping upgrade: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.24.2)
Requirement already satisfied, skipping upgrade: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.3)
Requirement already satisfied, skipping upgrade: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (2.10.1)
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (0.4.2)
Collecting htmlmin>=0.1.12 (from pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting phik>=0.9.8 (from pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/45/ad/24a16fa4ba612fb96a3c4bb115a5b9741483f53b66d3d3afd987f20fa227/phik-0.9.8-py3-none-any.whl (606kB)
     |████████████████████████████████| 614kB 47.5MB/s
Collecting confuse>=1.0.0 (from pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/4c/6f/90e860cba937c174d8b3775729ccc6377eb91f52ad4eeb008e7252a3646d/confuse-1.0.0.tar.gz
Requirement already satisfied, skipping upgrade: astropy in /usr/local/lib/python3.6/dist-packages (from pandas-profiling) (3.0.5)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (1.16.5)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pandas-profiling) (2.5.3)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.2)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.1.0)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied, skipping upgrade: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling) (0.9.0)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from missingno>=0.4.2->pandas-profiling) (1.3.1)
Requirement already satisfied, skipping upgrade: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.6.0)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (5.3.1)
Requirement already satisfied, skipping upgrade: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.9.8->pandas-profiling) (0.40.1)
Collecting pytest-pylint>=0.13.0 (from phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/64/dc/6f35f114844fb12e38d60c4f3d2441a55baff7043ad4e013777dff55746c/pytest_pylint-0.14.1-py3-none-any.whl
Collecting pytest>=4.0.2 (from phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/2f/19/d5f71752f71451ccc5ed5f6739e9da4a235f38783fdaf3629cae41b2ca7b/pytest-5.1.2-py3-none-any.whl (224kB)
     |████████████████████████████████| 225kB 50.7MB/s
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling) (3.13)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling) (41.2.0)
Requirement already satisfied, skipping upgrade: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.5.0)
Requirement already satisfied, skipping upgrade: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.1.3)
Requirement already satisfied, skipping upgrade: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.6.0)
Requirement already satisfied, skipping upgrade: nbformat>=4.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.3.2)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (1.4.2)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.8.4)
Requirement already satisfied, skipping upgrade: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.3)
Requirement already satisfied, skipping upgrade: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (3.1.0)
Requirement already satisfied, skipping upgrade: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (17.0.0)
Requirement already satisfied, skipping upgrade: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik>=0.9.8->pandas-profiling) (4.5.3)
Requirement already satisfied, skipping upgrade: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.9.8->pandas-profiling) (0.29.0)
Collecting pylint>=1.4.5 (from pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/60/c2/b3f73f4ac008bef6e75bca4992f3963b3f85942e0277237721ef1c151f0d/pylint-2.3.1-py3-none-any.whl (765kB)
     |████████████████████████████████| 768kB 40.7MB/s
Requirement already satisfied, skipping upgrade: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.20)
Collecting pluggy<1.0,>=0.12 (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/06/ee/de89e0582276e3551df3110088bf20844de2b0e7df2748406876cc78e021/pluggy-0.12.0-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.1)
Requirement already satisfied, skipping upgrade: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (7.2.0)
Requirement already satisfied, skipping upgrade: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.1.7)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (19.1.0)
Requirement already satisfied, skipping upgrade: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.8.0)
Requirement already satisfied, skipping upgrade: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (1.3.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.2.0)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.4->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (2.6.0)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (4.4.0)
Requirement already satisfied, skipping upgrade: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik>=0.9.8->pandas-profiling) (0.5.1)
Collecting astroid<3,>=2.2.0 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/d5/ad/7221a62a2dbce5c3b8c57fd18e1052c7331adc19b3f27f1561aa6e620db2/astroid-2.2.5-py3-none-any.whl (193kB)
     |████████████████████████████████| 194kB 51.5MB/s
Collecting isort<5,>=4.2.5 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/e5/b0/c121fd1fa3419ea9bfd55c7f9c4fedfec5143208d8c7ad3ce3db6c623c21/isort-4.3.21-py2.py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 21.8MB/s
Collecting mccabe<0.7,>=0.6 (from pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/87/89/479dc97e18549e21354893e4ee4ef36db1d237534982482c3681ee6e7b57/mccabe-0.6.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik>=0.9.8->pandas-profiling) (0.6.0)
Collecting typed-ast>=1.3.0; implementation_name == "cpython" (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/31/d3/9d1802c161626d0278bafb1ffb32f76b9d01e123881bbf9d91e8ccf28e18/typed_ast-1.4.0-cp36-cp36m-manylinux1_x86_64.whl (736kB)
     |████████████████████████████████| 737kB 53.4MB/s
Collecting lazy-object-proxy (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling)
  Downloading https://files.pythonhosted.org/packages/0e/26/534a6d32572a9dbca11619321535c0a7ab34688545d9d67c2c204b9e3a3d/lazy_object_proxy-1.4.2-cp36-cp36m-manylinux1_x86_64.whl (49kB)
     |████████████████████████████████| 51kB 19.3MB/s
Requirement already satisfied, skipping upgrade: wrapt in /usr/local/lib/python3.6/dist-packages (from astroid<3,>=2.2.0->pylint>=1.4.5->pytest-pylint>=0.13.0->phik>=0.9.8->pandas-profiling) (1.11.2)
Building wheels for collected packages: pandas-profiling, htmlmin, confuse
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-2.3.0-py2.py3-none-any.whl size=145035 sha256=d25f380fa35b1413c7308091c06d370d34f62b30dcbd2818e45fad8fcfae5c53
  Stored in directory: /root/.cache/pip/wheels/ce/c7/f1/dbfef4848ebb048cb1d4a22d1ed0c62d8ff2523747235e19fe
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-cp36-none-any.whl size=27084 sha256=5055fc6c44b115fe3a94de1460d11ef60abda40db91b36251aa503b2bd6e2ab5
  Stored in directory: /root/.cache/pip/wheels/43/07/ac/7c5a9d708d65247ac1f94066cf1db075540b85716c30255459
  Building wheel for confuse (setup.py) ... done
  Created wheel for confuse: filename=confuse-1.0.0-cp36-none-any.whl size=17486 sha256=61743b2acddc7281c2ac26360717f8d712302064c402533b7a8b61b7e7f4ac02
  Stored in directory: /root/.cache/pip/wheels/b0/b2/96/2074eee7dbf7b7df69d004c9b6ac4e32dad04fb7666cf943bd
Successfully built pandas-profiling htmlmin confuse
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: htmlmin, typed-ast, lazy-object-proxy, astroid, isort, mccabe, pylint, pluggy, pytest, pytest-pylint, phik, confuse, pandas-profiling, plotly
  Found existing installation: pluggy 0.7.1
    Uninstalling pluggy-0.7.1:
      Successfully uninstalled pluggy-0.7.1
  Found existing installation: pytest 3.6.4
    Uninstalling pytest-3.6.4:
      Successfully uninstalled pytest-3.6.4
  Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
  Found existing installation: plotly 3.6.1
    Uninstalling plotly-3.6.1:
      Successfully uninstalled plotly-3.6.1
Successfully installed astroid-2.2.5 confuse-1.0.0 htmlmin-0.1.12 isort-4.3.21 lazy-object-proxy-1.4.2 mccabe-0.6.1 pandas-profiling-2.3.0 phik-0.9.8 plotly-4.1.1 pluggy-0.12.0 pylint-2.3.1 pytest-5.1.2 pytest-pylint-0.14.1 typed-ast-1.4.0
Initialized empty Git repository in /content/.git/
remote: Enumerating objects: 104, done.
remote: Total 104 (delta 0), reused 0 (delta 0), pack-reused 104
Receiving objects: 100% (104/104), 17.31 MiB | 20.93 MiB/s, done.
Resolving deltas: 100% (41/41), done.
From https://github.com/LambdaSchool/DS-Unit-2-Regression-Classification
 * branch            master     -> FETCH_HEAD
 * [new branch]      master     -> origin/master

In [0]:
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv('../data/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [4]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

 Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.

In [5]:
df['Month']=pd.to_datetime(df['created']).dt.strftime('%B')
df.head()

   bathrooms  bedrooms  ... common_outdoor_space  Month
0        1.5         3  ...                    0   June
1        1.0         2  ...                    0   June
2        1.0         1  ...                    0  April
3        1.0         1  ...                    0  April
4        1.0         4  ...                    0  April

[5 rows x 35 columns]

In [10]:
df_train=df[df.Month.isin(['April','May'])]
                         
df_test=df[df['Month']=='June']

df_train.head()

   bathrooms  bedrooms  ... common_outdoor_space  Month
2        1.0         1  ...                    0  April
3        1.0         1  ...                    0  April
4        1.0         4  ...                    0  April
5        2.0         4  ...                    0  April
6        1.0         2  ...                    0  April

[5 rows x 35 columns]

Engineer at least two new features. (See below for explanation & ideas.)

In [12]:
df.columns

Index(['bathrooms', 'bedrooms', 'created', 'description', 'display_address',
       'latitude', 'longitude', 'price', 'street_address', 'interest_level',
       'elevator', 'cats_allowed', 'hardwood_floors', 'dogs_allowed',
       'doorman', 'dishwasher', 'no_fee', 'laundry_in_building',
       'fitness_center', 'pre-war', 'laundry_in_unit', 'roof_deck',
       'outdoor_space', 'dining_room', 'high_speed_internet', 'balcony',
       'swimming_pool', 'new_construction', 'terrace', 'exclusive', 'loft',
       'garden_patio', 'wheelchair_access', 'common_outdoor_space', 'Month'],
      dtype='object')

In [13]:
df_train['rooms']=df_train['bathrooms']+df_train['bedrooms']
df_test['rooms']=df_test['bathrooms']+df_test['bedrooms']
df_train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   bathrooms  bedrooms              created  ... common_outdoor_space  Month  rooms
2        1.0         1  2016-04-17 03:26:41  ...                    0  April    2.0
3        1.0         1  2016-04-18 02:22:02  ...                    0  April    2.0
4        1.0         4  2016-04-28 01:32:41  ...                    0  April    5.0
5        2.0         4  2016-04-19 04:24:47  ...                    0  April    6.0
6        1.0         2  2016-04-27 03:19:56  ...                    0  April    3.0

[5 rows x 36 columns]

In [15]:



df_train['features']=df_train['elevator']+df_train['cats_allowed']+df_train['hardwood_floors']+df_train['dogs_allowed']+df_train['dishwasher']+df_train['no_fee']+df_train['laundry_in_building']+df_train['fitness_center']+df_train['pre-war']+df_train['laundry_in_unit']+df_train['roof_deck']+df_train['outdoor_space']+df_train['dining_room']+df_train['high_speed_internet']+df_train['balcony']+df_train['new_construction']+df_train['terrace']+df_train['exclusive']+df_train['loft']+df_train['garden_patio']+df_train['wheelchair_access']+df_train['common_outdoor_space']

df_train.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

   bathrooms  bedrooms              created  ...  Month rooms  features
2        1.0         1  2016-04-17 03:26:41  ...  April   2.0         3
3        1.0         1  2016-04-18 02:22:02  ...  April   2.0         2
4        1.0         4  2016-04-28 01:32:41  ...  April   5.0         1
5        2.0         4  2016-04-19 04:24:47  ...  April   6.0         0
6        1.0         2  2016-04-27 03:19:56  ...  April   3.0         3

[5 rows x 37 columns]

In [18]:
df_test['features']=df_test['elevator']+df_test['cats_allowed']+df_test['hardwood_floors']+df_test['dogs_allowed']+df_test['dishwasher']+df_test['no_fee']+df_test['laundry_in_building']+df_test['fitness_center']+df_test['pre-war']+df_test['laundry_in_unit']+df_test['roof_deck']+df_test['outdoor_space']+df_test['dining_room']+df_test['high_speed_internet']+df_test['balcony']+df_test['new_construction']+df_test['terrace']+df_test['exclusive']+df_test['loft']+df_test['garden_patio']+df_test['wheelchair_access']+df_test['common_outdoor_space']

df_test.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    bathrooms  bedrooms              created  ... Month rooms  features
0         1.5         3  2016-06-24 07:54:24  ...  June   4.5         0
1         1.0         2  2016-06-12 12:19:27  ...  June   3.0         4
11        1.0         1  2016-06-03 03:21:22  ...  June   2.0         0
14        1.0         1  2016-06-01 03:11:01  ...  June   2.0         3
24        2.0         4  2016-06-07 04:39:56  ...  June   6.0        10

[5 rows x 37 columns]

In [62]:
df_train.corr()

                      bathrooms  bedrooms  ...  features  features2
bathrooms              1.000000  0.526102  ...  0.228665   0.254460
bedrooms               0.526102  1.000000  ...  0.133949   0.093512
latitude               0.012872  0.004650  ... -0.075983  -0.058700
longitude             -0.019719  0.055544  ... -0.237701  -0.274160
price                  0.684137  0.536500  ...  0.284938   0.361714
elevator               0.128704 -0.030263  ...  0.556349   0.732767
cats_allowed           0.022100 -0.008355  ...  0.351710   0.059079
hardwood_floors        0.095403  0.096108  ...  0.514831   0.485081
dogs_allowed           0.025070 -0.006896  ...  0.357870   0.065603
doorman                0.154125 -0.046827  ...  0.530984   0.767941
dishwasher             0.173795  0.156620  ...  0.624548   0.692184
no_fee                 0.129592  0.162560  ...  0.532217   0.419606
laundry_in_building   -0.014814  0.000825  ...  0.131546   0.037873
fitness_center         0.147900  0.015655  ...  0.599544   0.695768
pre-war               -0.014654 -0.002732  ...  0.100917  -0.044748
laundry_in_unit        0.211802  0.153591  ...  0.477915   0.512933
roof_deck              0.103708  0.044011  ...  0.563372   0.486390
outdoor_space          0.135735  0.118787  ...  0.528797   0.335607
dining_room            0.229534  0.190639  ...  0.449290   0.485537
high_speed_internet    0.090885  0.058695  ...  0.542380   0.417762
balcony                0.128851  0.098536  ...  0.383242   0.269485
swimming_pool          0.113007  0.034380  ...  0.315990   0.339350
new_construction       0.065157 -0.002055  ...  0.420417   0.330004
terrace                0.133543  0.099822  ...  0.380696   0.236504
exclusive             -0.000402 -0.015560  ... -0.029456  -0.089414
loft                   0.007647 -0.109750  ...  0.113504   0.048683
garden_patio           0.090583  0.073061  ...  0.327699   0.197452
wheelchair_access      0.067371  0.011869  ...  0.327780   0.236333
common_outdoor_space  -0.009281 -0.005031  ...  0.173341   0.079261
rooms                  0.746340  0.958661  ...  0.181343   0.158327
features               0.228665  0.133949  ...  1.000000   0.824187
features2              0.254460  0.093512  ...  0.824187   1.000000

[32 rows x 32 columns]

In [42]:

df_train['features2']=df_train['elevator']+df_train['dishwasher']+df_train['fitness_center']+df_train['doorman']+df_train['laundry_in_unit']+df_train['dining_room']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:

df_test['features2']=df_test['elevator']+df_test['dishwasher']+df_test['fitness_center']+df_test['doorman']+df_test['laundry_in_unit']+df_test['dining_room']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

 Fit a linear regression model with at least two features.

In [0]:
#1 Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

#2 Instantiate this class
model = LinearRegression()

#3 Arrange X features matrix & y target vector
features = ['rooms','features']
target='price'

X=df_train[features]
y=df_train[target]

#4 Fit the model
model.fit(X,y)

#5 Apply the Model

y_pred = model.predict(X)

 Get the model's coefficients and intercept.

In [20]:
  #Explanation of the model equation for the model coefficient
  print('y= mx + nz + b')
  print(f'y= {model.coef_[0]}*x + {model.coef_[1]}*z +{model.intercept_}')
  print(f'price={model.coef_[0]}*rooms+{model.coef_[1]}*features+{model.intercept_}')

y= mx + nz + b
y= 770.5353565041589*x + 99.29291144627857*z +1051.1104978097264
price=770.5353565041589*rooms+99.29291144627857*features+1051.1104978097264

 Get regression metrics RMSE, MAE, and  R2 , for both the train and test data.

In [34]:

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

features = ['rooms','features']
target='price'


 # Make predictions
    
x = df_train[features]
y = df_train[target]
y_pred = model.coef_[0]*df_train['rooms']+model.coef_[1]*df_train['features']+model.intercept_

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1708182.9438065388
Root Mean Squared Error: 1306.9747295975308
Mean Absolute Error: 866.2869475401131
R^2: 0.4498655651617107

In [32]:
features = ['rooms','features']
target='price'


 # Make predictions
    
x = df_test[features]
y = df_test[target]
y_pred = model.coef_[0]*df_test['rooms']+model.coef_[1]*df_test['features']+model.intercept_

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 1704645.5768457658
Root Mean Squared Error: 1305.6207630264487
Mean Absolute Error: 878.655528439358
R^2: 0.45153349030215495

In [48]:
#1 Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

#2 Instantiate this class
model = LinearRegression()

#3 Arrange X features matrix & y target vector
features = ['bathrooms','bedrooms','features2']
target='price'

X=df_train[features]
y=df_train[target]

#4 Fit the model
model.fit(X,y)

#5 Apply the Model

y_pred = model.predict(X)


 # Make predictions
    
x = df_train[features]
y = df_train[target]
y_pred =model.predict(x)

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('---------------Train------------------')
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)


 # Make predictions
    
x = df_test[features]
y = df_test[target]
y_pred = model.predict(x)

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('---------------Test------------------')
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

---------------Train------------------
Mean Squared Error: 1388090.2302284767
Root Mean Squared Error: 1178.172411079328
Mean Absolute Error: 772.5654688124806
R^2: 0.5529540690708478
---------------Test------------------
Mean Squared Error: 1366961.954908933
Root Mean Squared Error: 1169.1714822509712
Mean Absolute Error: 781.2345590185723
R^2: 0.5601825608312476

In [50]:
#1 Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

#2 Instantiate this class
model = LinearRegression()

#3 Arrange X features matrix & y target vector
features = ['bathrooms','bedrooms']
target='price'

X=df_train[features]
y=df_train[target]

#4 Fit the model
model.fit(X,y)

#5 Apply the Model

y_pred = model.predict(X)


 # Make predictions
    
x = df_train[features]
y = df_train[target]
y_pred = model.predict(x)

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('---------------Train------------------')
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)


 # Make predictions
    
x = df_test[features]
y = df_test[target]
y_pred = model.predict(x)

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('---------------Test------------------')
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

---------------Train------------------
Mean Squared Error: 1517879.6665142523
Root Mean Squared Error: 1232.0225917223484
Mean Absolute Error: 818.5310213271714
R^2: 0.5111543084316607
---------------Test------------------
Mean Squared Error: 1487715.3104108905
Root Mean Squared Error: 1219.719357233823
Mean Absolute Error: 825.8987822403527
R^2: 0.5213303957090345

In [51]:
#1 Import the appropriate estimator class from Scikit-Learn
from sklearn.linear_model import LinearRegression

#2 Instantiate this class
model = LinearRegression()

#3 Arrange X features matrix & y target vector
features = ['bathrooms','bedrooms','features2','latitude','longitude']
target='price'

X=df_train[features]
y=df_train[target]

#4 Fit the model
model.fit(X,y)

#5 Apply the Model

y_pred = model.predict(X)


 # Make predictions
    
x = df_train[features]
y = df_train[target]
y_pred = model.predict(x)

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('---------------Train------------------')
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)


 # Make predictions
    
x = df_test[features]
y = df_test[target]
y_pred = model.predict(x)

    # Print regression metrics
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)
print('---------------Test------------------')
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

---------------Train------------------
Mean Squared Error: 1253805.4721682507
Root Mean Squared Error: 1119.7345543334147
Mean Absolute Error: 711.9387984279833
R^2: 0.5962015852404188
---------------Test------------------
Mean Squared Error: 1228886.6813627714
Root Mean Squared Error: 1108.5516142078236
Mean Absolute Error: 719.4938715419461
R^2: 0.6046080205198044